# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.Rproj.user
# Data files
.RData/
.RData
# Mac
.DS_Store
# TeX temporary files
*.aux
*.toc
*.log
*.bbl
*.bcf
*.blg
*.synctex.gz
*.fdb_latexmk
# Packrat file
packrat/lib*/
packrat/src/
